[submodule "/home/pcgiulio/Desktop/fra2mo_sim/src/teleop_twist_joy_ros2"]
	path = /home/pcgiulio/Desktop/fra2mo_sim/src/teleop_twist_joy_ros2
	url = https://github.com/norlab-ulaval/teleop_twist_joy_ros2.git
